:root {
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}
.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 100px 20px;
}
body {
    margin: 0;
    font-family: var(--heading-font-family);
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.hero p{
    font-size: 36px;
    font-weight: bold;
    margin:0;
}
.btn-branding{
    background:var(--branding-color);
    border-radius:4px;
    color:var(--secondary-color);
    font-size:18px;
    line-height: 27px;
    padding:12px 20px;
}
h3{
    font-size: 46px;
}
h1{
    font-size:44px;
    line-height:1.5;
}
p{
    font-family:var(--default-font-family);
    font-weight: normal;
}
h2{
    font-size:44px;
}
h3{
    font-size:26px;
}
.project-description{
    padding:0;
    text-align:center;
}
.btn-branding-outline{
    background:var(--branding-color);
    border-radius:4px;
    color:var(--secondary-color);
    font-size:18px;
    line-height: 27px;
    padding:12px 20px;
    border:1px solid var(--branding-color)
}
@media(max-width: 600px){
    text-align:center;
    font-size: small;
body{
    text-align: center;
}
.logo{
    display:none;
}
.img-fluid{
    display: none;
    }
nav a{
    font-size: 12px;
}
}

p{
    font-size:10;
}
.mb-5-heading{
    font-size:25px;
}

.mb-5{
    font-size:18px;
    font-family: var(--default-font-family);
    text-align:center;
    line-height:30px;
}
.content-container h1{
    font-size:64px;
    line-height:80px;
}
.content-container h2{
    font-size:18px;
    font-family:var(--default-font-family);
}
.content-container{
    padding:160px 20px;
}
.content{
    margin:30px;
}
.content-container{
    text-align:center;
    padding:0;
}
.mb-5{
    margin-bottom:3rem;
}
.col-lg-6{
    display: flex;
    padding-top:10px;
    padding-bottom: 50px;;
}
.about-section-content{
    padding-left: 30px;
    padding-right: 30px;
}
.img-fluid{
    border-radius: 2px;
    padding-right: 20px;
}
.logo{
    max-width:150px;
}
nav li{
    display:inline;
    line-height:40px;
    line-style:none;
    margin-left:20px;
}
nav {
    padding:20px 0;
}
nav a{
    text-decoration: none;
    color:#272142;
}
nav li.active a{
    color: var(--branding-color);
}
nav a:hover{
    color:var(--branding-color);
}
footer .email-link{
    text-decoration: none;
    color:black;
    font-size:20px;
    text align:center;
}
footer .contact-box {
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}
.mb-5 {
    margin-bottom: 3rem;
}
.justify-content-between {
    justify-content: space-between;
}
.d-none {
    display: none;
}
div{
    display:block;
}
ooter .contact-box p {
    margin: 0;
}
.text-muted {
    color: #6c757d
}
.mt-3{
    margin-top:1rem;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
}
.justify-content-center {
    justify-content: center;
}
.d-flex {
    display: flex;
}
.fab {
    font-weight: 400;
}
.fab {
    font-family: "Font Awesome 5 Brands";
}
.fab {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
}
.content{
    text-align:left;
}